# Visual Studio User Specific
*.user
*.userosscache
*.sln.docstates
*.suo
*.slnx

# Build & Debug Folders
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Xx]64/
[Xx]86/
[Aa][Rr][Mm]/
bld/
bin/
obj/

# Visual Studio Cache
.vs/

# Runtime Data (Stats & Logs)
connect4_stats.txt